<div class="wrapper">
  <div class="wrapper-back-img">
    <img class="back-img" src="../../../assets/viewMoreBack.png" alt="back-img" />
  </div>

    <div class="wrapper-content-read-more">
      <p class="title-article">TITLE</p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus
      nesciunt recusandae illum doloribus, illo hic voluptatem dolore ducimus
      dolorum porro eaque quos fugit temporibus aspernatur labore laudantium
      voluptas. Voluptatem?
    </div>

    <div class="btn-wrapper-back" routerLinkActive="active">
      <a [routerLink]="['']" class="btn-back">
        <img
          class="arrow-right"
          src="../../../assets/arrow-left.svg"
          alt="arrow-left"
        />Back to homepage</a
      >
    </div>
</div>



